allure-pytest==2.13.5
pytest==8.0.2
requests==2.31.0
pydantic==2.6.1
email-validator==2.1.0.post1
python-dotenv==1.0.1
fastapi==0.109.2
fastapi[standard]
uvicorn==0.27.1
fastapi-pagination==0.12.14
python-multipart==0.0.9
httpx==0.26.0

psycopg2-binary==2.9.9
sqlalchemy==2.0.27
sqlmodel==0.0.16
faker==22.6.0
